<div id='place'>
	<div class="layui-header layui-bg-blue">
		<div class="home_title">人事管理</div>
		<!--顶部导航-->
		<ul class="layui-nav layui-bg-blue" style="width:450px;float: right;">
		  <li class="layui-nav-item">
		    <a href="">控制台<span class="layui-badge">9</span></a>
		  </li>
		  <li class="layui-nav-item">
		    <a href="">个人中心<span class="layui-badge-dot"></span></a>
		  </li>
		  <li class="layui-nav-item">
		    <a href=""><img src="//t.cn/RCzsdCq" class="layui-nav-img">我</a>
		    <dl class="layui-nav-child">
		      <dd><a href="javascript:;">修改信息</a></dd>
		      <dd><a href="javascript:;">安全管理</a></dd>
		      <dd><a href="javascript:;">退出</a></dd>
		    </dl>
		  </li>
		</ul>
	</div>
	<div class="left_nav layui-bg-cyan leftFloat">
		<!--侧边导航-->
		<ul class="layui-nav layui-nav-tree layui-bg-cyan layui-inline">
		  <li class="layui-nav-item layui-nav-itemed">
		    <a href="javascript:;">员工资料</a>
		    <dl class="layui-nav-child">
		      <dd><a [routerLink]="['material']">基本资料</a></dd>
		    </dl>
		  </li>
		  <li class="layui-nav-item">
		    <a href="javascript:;">解决方案</a>
		    <dl class="layui-nav-child">
		      <dd><a href="">移动模块</a></dd>
		      <dd><a href="">后台模版</a></dd>
		      <dd><a href="">电商平台</a></dd>
		    </dl>
		  </li>
		  <li class="layui-nav-item"><a href="">云市场</a></li>
		  <li class="layui-nav-item"><a href="">社区</a></li>
		</ul>
	</div>
	<!-- 中间区域 -->
	<div class="leftFloat main-place">
		<div class="main_title">
			<span >{{totalTitle}}</span>
			<span>></span>
			<span>{{fatherTitle}}</span>
		</div>
		<!-- 中间区域路由变化 -->
		<div>
			<router-outlet></router-outlet>
		</div>
		
	</div>
</div>
