.center{
	text-align: center;
}
.login{
	height:220px;
	width:400px;
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	margin: auto !important;
}
html,body{
	height:100%;
	width:100%;
	position:relative;
}

