<div class="main_place">
	<div class="table">
		<input class="layui-input layui-input-inline search_input" type="" name="" id="" value="" placeholder="搜索"/>
		<button class="layui-btn layui-bg-blue">
			<i class="layui-icon">&#xe615;</i>搜索
		</button>
		<button class="layui-btn layui-bg-orange rightFloat">
			<i class="layui-icon">&#xe654;</i>添加员工
		</button>
		<button class="layui-btn layui-bg-blue rightFloat">
			<i class="layui-icon">&#xe681;</i>导入数据
		</button>
		<button class="layui-btn layui-bg-blue rightFloat" (click)=layuiOpen()>
			<i class="layui-icon">&#xe601;</i>导出数据
		</button>
	</div>
	<div class="table">
		<table id="demo" lay-filter="test" ></table>
	</div>
	<app-staff-edit #ad style='display:none' ></app-staff-edit>
</div>
